node_modules/
.DS_Store
tsconfig.tsbuildinfo
dist
.nx/cache
*.d.ts
*.d.ts.map
!examples/web/src/vite-env.d.ts
!packages/ai-provider/src/provider-chrome/common/WebBrowser_ChromeAI.d.ts
storybook-static/
packages/cli-web/
packages/cli-sec/
.cache/
.turbo
.env.*
sec-data/
sec-db/
.npmrc
models/
