name: Build & Test
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches-ignore: ["main"]
  pull_request:
    branches-ignore: ["main"]

env:
  CI: "true"
  DO_NOT_TRACK: "1"
  TURBO_TELEMETRY_DISABLED: "1"
  NEXT_TELEMETRY_DISABLED: "1"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun i
      - run: bunx playwright install chromium --with-deps
      - run: bun run rebuild
      - run: bun test
