name: Build & Test
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches-ignore: ["main"]
  pull_request:
    branches-ignore: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun i
      - run: bun run rebuild
      - run: bun test
